<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069837462861-p87opr507p06fd9tor2923a1rudc288s.apps.googleusercontent.com</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069837462861-p87opr507p06fd9tor2923a1rudc288s</string>
	<key>API_KEY</key>
	<string>AIzaSyDKhnzQLt4BFzdXzERrEEnio0ZinzOaJIw</string>
	<key>GCM_SENDER_ID</key>
	<string>1069837462861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bablive.temp</string>
	<key>PROJECT_ID</key>
	<string>bandhu-kallian-somiti</string>
	<key>STORAGE_BUCKET</key>
	<string>bandhu-kallian-somiti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069837462861:ios:50538efc6aabd7e0795b04</string>
	<key>DATABASE_URL</key>
	<string>https://bandhu-kallian-somiti.firebaseio.com</string>
</dict>
</plist>
